@font-face {
  font-family: 'Centra';
  src:  url('./centra/CentraNo2-Bold.ttf') format('truetype'),
        url('./centra/CentraNo2-Medium.ttf') format('truetype'),
        url('./centra/CentraNo2-Book.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  src:  url('./poppins/Poppins-Light.ttf') format('truetype'),
        url('./poppins/Poppins-Regular.ttf') format('truetype'),
        url('./poppins/Poppins-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'SulphurPoint';
  src:  url('./sulphur_point/SulphurPoint-Light.ttf') format('truetype'),
        url('./sulphur_point/SulphurPoint-Regular.ttf') format('truetype'),
        url('./sulphur_point/SulphurPoint-Bold.ttf') format('truetype');
}